{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1 class="justify-content-center">WILD MOVIES</h1>
    <h2>Current top rated movies</h2>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner justify-content-center">
            <div class="carousel-item active carouselThumbnails">
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/wfPHdfofBD5PN96dV96a51B3Ja2.jpg" height="450" width="300" alt="1">
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/2h00HrZs89SL3tXB4nbkiM7BKHs.jpg" height="450" width="300" alt="1">
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/zMyfPUelumio3tiDKPffaUpsQTD.jpg" height="450" width="300" alt="1">
            </div>
            <div class="carousel-item carouselThumbnails">
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/d4KNaTrltq6bpkFS01pYtyXa09m.jpg" height="450" width="300" alt="2">
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/adw6Lq9FiC9zjYEpOqfq03ituwp.jpg" height="450" width="300" alt="2">
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/dM2w364MScsjFf8pfMbaWUcWrR.jpg" height="450" width="300" alt="2">
            </div>
            <div class="carousel-item carouselThumbnails">
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/9SKDSFbaM6LuGqG1aPWN3wYGEyD.jpg" height="450" width="300" alt="3">
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/56zTpe2xvaA4alU51sRWPoKPYZy.jpg" height="450" width="300" alt="3">
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/pTpxQB1N0waaSc3OSn0e9oc8kx9.jpg" height="450" width="300" alt="3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% endblock %}