{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}
    <h1>Movie index</h1>

    <div class="row">
        {% for movie in movies %}
            <div class="col-2 form m-0 thumbs">
                <a href="{{ path('movie_show', {'id': movie.id}) }}"><img src="{{ movie.picture }}" height="150" width="100" /></a>
                <p><a href="{{ path('movie_show', {'id': movie.id}) }}">{{ movie.title }}</a></p>
            </div>
        {% else %}
            <tr>
                <td colspan="7">No movie found.</td>
            </tr>
        {% endfor %}
    </div>
{% endblock %}

