@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Timmana');

@font-face {
    font-family: HollywoodCapital;
    src: url(../../assets/fonts/Hollywood-Capital-Hills.ttf.woff);
}

$globalBackgroundColor:#f2f3f5;
$navBackgroundColor:#1c2129;
$buttonBackgroundColor:#fecc00;
$containerBackgroundColor:white;
$containerShadowColor:grey;
$colorFooterFont:white;
$linksColor:black;
$activeStarsColor:#fecc00;
$inactiveStarsColor:#1c2129;
$carouselColor:black;

$titleHome:'HollywoodCapital', Arial, sans-serif;
$textsFont:'Open Sans', Arial, sans-serif;
$titlesFont:'Timmana', Arial, sans-serif;

.navbar {
    background-color: $navBackgroundColor;
}

.footer {
    background-color: $navBackgroundColor;
    a {
        color:$colorFooterFont;
        &:hover {
            color:darken($colorFooterFont, 20%);
        }
    }
}

.container {
    background-color: $containerBackgroundColor;
    box-shadow: 0px 5px 10px 2px $containerShadowColor;
    margin-top: 5.5em;
    margin-bottom: 5.5em;
    padding: 3em 3em 3em 3em;
}

body {
    background-color: $globalBackgroundColor;
    font-family:$textsFont;
}

h1 {
    text-align:center;
    margin:50px;
    font-family:$titlesFont;
}

h2 {
    margin:15px;
    font-family:$titlesFont;
}

a {
    font-weight:bold;
    color:$linksColor;
    &:hover {
        color:$linksColor;
    }
}

.formTextarea {
    width:100%;
    height:200px;
}

.formInput {
    width:100%;
}

.form {
    width:70%;
    margin:auto;
}

.customButton {
    font-weight:bold;
    background-color:$buttonBackgroundColor;
    &:hover {
        background-color:lighten($buttonBackgroundColor, 20%);
    }
}

.previewArticle {
    height:70px;
    overflow:hidden;
}

.thumbs {
    text-align:center;
}

.carousel-item {
    background-color:$carouselColor;
}

.carouselThumbnails {
    padding-left:67px;
}
.star {
    color:$inactiveStarsColor;
}

.activeStar {
    color:$activeStarsColor;
}

.star1, .star2, .star3, .star4, .star5 {
  color:$activeStarsColor;
}

.star4:hover ~ a .star5, .star3:hover ~ a .star4,  .star3:hover ~ a .star5, .star2:hover ~ a .star3, .star2:hover ~ a .star4, .star2:hover ~ a .star5, .star1:hover ~ a .star2,.star1:hover ~ a .star3, .star1:hover ~ a .star4, .star1:hover ~ a .star5 {
  color:$inactiveStarsColor;
}

.titleHome {
    font-family: $titleHome;
    font-size:7em;
}
