<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="#">Terms of use</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Twitter</a>
    </li>
</ul>