<ul class="nav fixed-bottom justify-content-center footer">
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#modalTerms">Terms of use</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/themoviedb">Twitter</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
    </li>
    <li class="nav-item">
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MEMBER') %}
            <a class="nav-link" href="{{ path('app_logout') }}">Log out</a>
        {% else %}
            <a class="nav-link" href="{{ path('app_login') }}">Log in</a>
        {% endif %}
    </li>
</ul>
<!-- Modal -->
<div class="modal fade" id="modalTerms" tabindex="-1" role="dialog" aria-labelledby="modalTerms" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Terms of use</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The source of the data and images used on this site is The Movie DB : https://www.themoviedb.org/
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>