{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <p class="m-4">{{ article.content }}</p>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="input-group">
            <a href="{{ path('article_edit', {'id': article.id}) }}"><button class="btn customButton my-2 my-sm-2 m-2">Edit</button></a>
            {{ include('article/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
